/* ------------------------ Roboto ------------------------ */
@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/Roboto/RobotoRegular.ttf") format("truetype");
}
  
@font-face {
	font-family: "Roboto";
	font-weight: bold;
	src: url("/assets/fonts/Roboto/RobotoBold.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	src: url("/assets/fonts/Roboto/RobotoItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Roboto/RobotoBoldItalic.ttf") format("truetype");
}

/* ------------------------ Helvetica ------------------------ */
@font-face {
	font-family: "Helvetica";
	src: url("/assets/fonts/Helvetica/HelveticaRegular.ttf") format("truetype");
}
  
@font-face {
	font-family: "Helvetica";
	font-weight: bold;
	src: url("/assets/fonts/Helvetica/HelveticaBold.ttf") format("truetype");
}

@font-face {
	font-family: "Helvetica";
	font-style: italic;
	src: url("/assets/fonts/Helvetica/HelveticaItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Helvetica";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Helvetica/HelveticaBoldItalic.ttf") format("truetype");
}

/* ------------------------ Time New Roman ------------------------ */
@font-face {
	font-family: "Times New Roman";
	src: url("/assets/fonts/TimesNewRoman/TimesNewRoman.ttf") format("truetype");
}
  
@font-face {
	font-family: "Times New Roman";
	font-weight: bold;
	src: url("/assets/fonts/TimesNewRoman/TimesNewRomanBold.ttf") format("truetype");
}

@font-face {
	font-family: "Times New Roman";
	font-style: italic;
	src: url("/assets/fonts/TimesNewRoman/TimesNewRomanItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Times New Roman";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/TimesNewRoman/TimesNewRomanBoldItalic.ttf") format("truetype");
}

/* ------------------------ Arial ------------------------ */
@font-face {
	font-family: "Arial";
	src: url("/assets/fonts/Arial/Arial.ttf") format("truetype");
}
  
@font-face {
	font-family: "Arial";
	font-weight: bold;
	src: url("/assets/fonts/Arial/ArialBold.ttf") format("truetype");
}

@font-face {
	font-family: "Arial";
	font-style: italic;
	src: url("/assets/fonts/Arial/ArialItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Arial";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Arial/ArialBoldItalic.ttf") format("truetype");
}

/* ------------------------ Arimo ------------------------ */
@font-face {
	font-family: "Arimo";
	src: url("/assets/fonts/Arimo/Arimo-Regular.ttf") format("truetype");
}
  
@font-face {
	font-family: "Arimo";
	font-weight: bold;
	src: url("/assets/fonts/Arimo/Arimo-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Arimo";
	font-style: italic;
	src: url("/assets/fonts/Arimo/Arimo-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Arimo";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Arimo/Arimo-BoldItalic.ttf") format("truetype");
}

/* ------------------------ Noto Sans ------------------------ */
@font-face {
	font-family: "Noto Sans";
	src: url("/assets/fonts/NotoSans/NotoSansRegular.ttf") format("truetype");
}
  
@font-face {
	font-family: "Noto Sans";
	font-weight: bold;
	src: url("/assets/fonts/NotoSans/NotoSansBold.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	src: url("/assets/fonts/NotoSans/NotoSansItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/NotoSans/NotoSansBoldItalic.ttf") format("truetype");
}

/* ------------------------ Noto Serif ------------------------ */
@font-face {
	font-family: "Noto Serif";
	src: url("/assets/fonts/NotoSerif/NotoSerifRegular.ttf") format("truetype");
}
  
@font-face {
	font-family: "Noto Serif";
	font-weight: bold;
	src: url("/assets/fonts/NotoSerif/NotoSerifBold.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";
	font-style: italic;
	src: url("/assets/fonts/NotoSerif/NotoSerifItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/NotoSerif/NotoSerifBoldItalic.ttf") format("truetype");
}

/* ------------------------ Source Sans Pro ------------------------ */
@font-face {
	font-family: "Source Sans Pro";
	src: url("/assets/fonts/SourceSansPro/SourceSansProRegular.ttf") format("truetype");
}
  
@font-face {
	font-family: "Source Sans Pro";
	font-weight: bold;
	src: url("/assets/fonts/SourceSansPro/SourceSansProBold.ttf") format("truetype");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	src: url("/assets/fonts/SourceSansPro/SourceSansProItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Source Sans Pro";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/SourceSansPro/SourceSansProBoldItalic.ttf") format("truetype");
}

/* ------------------------ Courgette ------------------------ */
@font-face {
	font-family: "Courgette";
	src: url("/assets/fonts/Courgette/CourgetteRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Courgette";
	font-weight: bold;
	src: url("/assets/fonts/Courgette/CourgetteRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Courgette";
	font-style: italic;
	src: url("/assets/fonts/Courgette/CourgetteRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Courgette";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Courgette/CourgetteRegular.ttf") format("truetype");
}

/* ------------------------ Lobster Two ------------------------ */
@font-face {
	font-family: "Lobster Two";
	src: url("/assets/fonts/LobsterTwo/LobsterTwoRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Lobster Two";
	font-weight: bold;
	src: url("/assets/fonts/LobsterTwo/LobsterTwoBold.ttf") format("truetype");
}

@font-face {
	font-family: "Lobster Two";
	font-style: italic;
	src: url("/assets/fonts/LobsterTwo/LobsterTwoItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Lobster Two";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/LobsterTwo/LobsterTwoBoldItalic.ttf") format("truetype");
}

/* ------------------------ Amiri ------------------------ */
@font-face {
	font-family: "Amiri";
	src: url("/assets/fonts/Amiri/AmiriRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Amiri";
	font-weight: bold;
	src: url("/assets/fonts/Amiri/AmiriBold.ttf") format("truetype");
}

@font-face {
	font-family: "Amiri";
	font-style: italic;
	src: url("/assets/fonts/Amiri/AmiriItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Amiri";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Amiri/AmiriBoldItalic.ttf") format("truetype");
}

/* ------------------------ Cairo ------------------------ */
@font-face {
	font-family: "Cairo";
	src: url("/assets/fonts/Cairo/CairoRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Cairo";
	font-weight: bold;
	src: url("/assets/fonts/Cairo/CairoBold.ttf") format("truetype");
}

@font-face {
	font-family: "Cairo";
	font-style: italic;
	src: url("/assets/fonts/Cairo/CairoItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Cairo";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Cairo/CairoBoldItalic.ttf") format("truetype");
}

/* ------------------------ Poppins ------------------------ */
@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins/PoppinsRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Poppins";
	font-weight: bold;
	src: url("/assets/fonts/Poppins/PoppinsBold.ttf") format("truetype");
}

@font-face {
	font-family: "Poppins";
	font-style: italic;
	src: url("/assets/fonts/Poppins/PoppinsItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Poppins";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Poppins/PoppinsBoldItalic.ttf") format("truetype");
}

/* ------------------------ Ubuntu ------------------------ */
@font-face {
	font-family: "Ubuntu";
	src: url("/assets/fonts/Ubuntu/UbuntuRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Ubuntu";
	font-weight: bold;
	src: url("/assets/fonts/Ubuntu/UbuntuBold.ttf") format("truetype");
}

@font-face {
	font-family: "Ubuntu";
	font-style: italic;
	src: url("/assets/fonts/Ubuntu/UbuntuItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Ubuntu";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Ubuntu/UbuntuBoldItalic.ttf") format("truetype");
}

/* ------------------------ Raleway ------------------------ */
@font-face {
	font-family: "Raleway";
	src: url("/assets/fonts/Raleway/RalewayRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Raleway";
	font-weight: bold;
	src: url("/assets/fonts/Raleway/RalewayBold.ttf") format("truetype");
}

@font-face {
	font-family: "Raleway";
	font-style: italic;
	src: url("/assets/fonts/Raleway/RalewayItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Raleway";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Raleway/RalewayBoldItalic.ttf") format("truetype");
}

/* ------------------------ Lora ------------------------ */
@font-face {
	font-family: "Lora";
	src: url("/assets/fonts/Lora/LoraRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Lora";
	font-weight: bold;
	src: url("/assets/fonts/Lora/LoraBold.ttf") format("truetype");
}

@font-face {
	font-family: "Lora";
	font-style: italic;
	src: url("/assets/fonts/Lora/LoraItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Lora";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Lora/LoraBoldItalic.ttf") format("truetype");
}

/* ------------------------ Exo ------------------------ */
@font-face {
	font-family: "Exo";
	src: url("/assets/fonts/Exo/ExoRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Exo";
	font-weight: bold;
	src: url("/assets/fonts/Exo/ExoBold.ttf") format("truetype");
}

@font-face {
	font-family: "Exo";
	font-style: italic;
	src: url("/assets/fonts/Exo/ExoItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Exo";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Exo/ExoBoldItalic.ttf") format("truetype");
}

/* ------------------------ Arima Madurai ------------------------ */
@font-face {
	font-family: "Arima Madurai";
	src: url("/assets/fonts/ArimaMadurai/ArimaMaduraiRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Arima Madurai";
	font-weight: bold;
	src: url("/assets/fonts/ArimaMadurai/ArimaMaduraiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Arima Madurai";
	font-style: italic;
	src: url("/assets/fonts/ArimaMadurai/ArimaMaduraiRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Arima Madurai";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/ArimaMadurai/ArimaMaduraiBold.ttf") format("truetype");
}