
.RichEditor-root:not(.RichEditor-hidePlaceholder) .public-DraftEditorPlaceholder-root ~ .DraftEditor-editorContainer{position:absolute;top:0;right:0;bottom:0;left:0
}
.editor-text-font-size.root-font-size-150 .font-size-2{font-size:20.625px
}
.editor-text-font-size.root-font-size-150 .font-size-3{font-size:15px
}
.editor-text-font-size.root-font-size-150 .font-size-4{font-size:13.125px
}
.editor-text-font-size.root-font-size-150 .font-size-5{font-size:13.125px
}
.page{cursor:text;display:flex;flex:1;position:relative;white-space:normal;width:210mm;height:297mm;background-color:#fff
}
.section{position:relative
}

.content-field[visible='false']{display:none
}
.text-field{white-space:pre-wrap
}
.text-field ul,.text-field ol{margin-top:3px;margin-bottom:3px
}
.text-field ul:not([class^='public-DraftStyleDefault']),.text-field ol:not([class^='public-DraftStyleDefault']){padding-left:20px
}
.input-field[contenteditable="false"]:empty:after,.select-field[contenteditable="false"]:empty:after,.text-field[contenteditable="false"]:empty:after{content:'\00a0'
}
.align-left .public-DraftStyleDefault-block{text-align:left
}
.align-center .public-DraftStyleDefault-block{text-align:center
}
.align-right .public-DraftStyleDefault-block{text-align:right
}
.align-justify .public-DraftStyleDefault-block{text-align:justify
}
img.twemoji{height:1em;width:1em;margin:0 .05em 0 .1em;vertical-align:-0.1em
}
.bg-primary {
      background-color: #2D694F !important;
    
}
.bg-opaque-primary {
      background-color: rgba(45, 105, 79, 0.12890625) !important;
    
}
.bg-secondary {
      background-color: #578F7C !important;
    
}
.bg-vertical-linear-gradient {
      background-image: linear-gradient(#2D694F, #578F7C) !important;
    
}
.bg-horizontal-linear-gradient {
      background-image: linear-gradient(to right, #578F7C, #2D694F) !important;
    
}
.text-primary {
      color: #2D694F !important;
    
}
.text-secondary {
      color: #578F7C !important;
    
}
.fill-primary {
      fill: #2D694F !important;
    
}
.fill-secondary {
      fill: #578F7C !important;
    
}
.padding-section-content{padding:14px 23.5px
}
.sub-sections{padding:12px
}
.sub-section{color:#4a4a4a;
}
.input-field{min-width:29px;word-break:break-word
}
.UploadButton__action-modal___LEmwj{height:180px!important
}
.page.row{flex-direction:row
}
.page.column{flex-direction:column
}
.page .main{display:flex;flex:3;flex-direction:row;justify-content:space-around;padding:0 2rem
}
.page .column-0 .content-field,.page .column-1 .content-field{padding-top:1rem;border-radius:.25rem
}
.page{background-color:#f6f6f6!important
}
.page .column-0,.page .column-0-with-contacts{background:#fff;flex:35%;margin-right:.5rem;border-radius:.25rem
}
.page .column-1,.page .column-1-with-user-profile{background:0 0;flex:65%;margin-left:.5rem
}
.page .column-1 .content-field,.page .column-1-with-user-profile .content-field{background:#fff;margin-top:1rem
}
.page:not(.page-0) .column-0{margin-top:1rem;background-color:unset
}
.page:not(.page-0) .column-0>div{background-color:#fff;border-radius:.25rem
}
.column-0 .section-header-container,.section-contacts .section-header-container{width:fit-content;border-top-right-radius:999rem;border-bottom-right-radius:999rem;position:relative;overflow:hidden
}
.column-0 .section-header-container:after,.column-0 .section-header-container:before,.section-contacts .section-header-container:after,.section-contacts .section-header-container:before{display:block;content:'';position:absolute;right:-4rem;transform:rotate(-45deg);width:200px;z-index:0
}
.column-0 .section-header-container:before,.section-contacts .section-header-container:before{height:.3rem;filter:brightness(130%);bottom:.6rem
}
.column-0 .section-header-container:after,.section-contacts .section-header-container:after{height:.6rem;filter:brightness(125%)
}
.column-0 .section-header,.section-contacts .section-header{background-color:transparent;color:#fff!important;padding:4px 20px;margin:0;width:fit-content;position:relative;text-transform:uppercase;z-index:1
}
.about-user .section-header-container,.column-1 .section-header-container{display:flex;align-items:stretch;background-color:#fff!important;width:fit-content
}
.about-user .section-header,.column-1 .section-header{background-color:#fff;margin:0;padding:6px 14px
}
.page .section{flex:1
}
.container{display:flex
}
.container .side{width:200px
}
.container .main{padding:0 2px;width:594px
}
.page-container .header{background-color:#fff;display:flex
}
.page-container .header .user-info{display:flex;flex-direction:column;width:70%
}
.about-user{background-color:#fff
}
.header,.header .about-me{display:flex;flex-direction:column
}
.header{color:#fff;margin-bottom:1rem
}
.header .about-me{color:#000;flex-grow:7;justify-content:center;align-items:flex-start;text-transform:uppercase
}
.header .about-me>div{margin:4px 22.5px
}
.header .contacts-sections{color:#000
}
.header .social{z-index:999
}
.diagonal-line{position:absolute;right:-276px;bottom:0;z-index:0;transform:rotate(-45deg)
}
.diagonal-line:after,.diagonal-line:before{filter:brightness(110%);display:block;content:'';height:.3rem;width:100%;z-index:0
}
.diagonal-line .diagonal-line-main{filter:brightness(125%);height:.7rem;width:650px;margin:.75rem 0 .5rem;z-index:0
}
.diagonal-line:after{filter:brightness(126%);height:1rem
}
.content-field .socials-sections .sub-section{padding:0 5px
}
.avatar-about-me-info{display:flex;flex-wrap:wrap;padding:23px 0;position:relative;overflow:hidden
}
.about-me-input{color:#4a4a4a
}
.user-title{color:rgba(255,255,255,.5);letter-spacing:3px;text-transform:uppercase;font-weight:700
}
.user-name{color:#fff;font-weight:700
}
.avatar-container{border-top-right-radius:999rem;border-bottom-right-radius:999rem;margin:auto 0;max-height:180px;width:25%;overflow:hidden;position:relative
}
.avatar,.avatar-group{overflow:hidden
}
.avatar{width:100%;height:100%;object-fit:cover;object-position:center
}
.column-0 .awards-sections .experience-company-period{display:unset
}
.experience-company-period{display:flex;justify-content:space-between;align-items:baseline
}
.column-0 .education-school-period,.column-0 .experience-company-period{flex-wrap:wrap
}
.section-title{text-transform:uppercase;font-weight:700;padding:5px 0;margin:0
}
.section-subtitle{margin:5px 0
}
.section-title-light{font-weight:700;padding:5px 0;margin:0
}
.section-subtitle-light{font-style:italic;padding:5px 0;margin:0
}
.content-education{margin-bottom:20px
}
.education-school-period{display:flex;justify-content:space-between
}
.education-period,.experience-period,.section-period{display:flex;flex:0 0 auto;padding:5px 0;text-align:center
}
.education-period>div,.experience-period>div,.section-period>div{align-self:flex-start
}
.duration-hyphen,.education-from,.education-to,.experience-from,.experience-to{align-self:center
}
.header-field-group{display:flex;padding:5px 0;color:#4a4a4a;min-width:45%
}
.social-field-group{display:flex;color:#fff
}
.social-field-group>i{margin-right:10px
}
.social-type{font-weight:600;margin-top:5px
}
.social-field-input{margin:5px 0;font-weight:400
}
.awards-sections .sub-section{padding-bottom:5px
}
.awards-sections .name{font-weight:400
}
.awards-sections .section-period,.awards-sections .section-title{padding:0
}
.languages-sections .sub-section{padding-bottom:7px!important
}
.certificates-sections .sub-section,.languages-sections .sub-section{width:100%
}
.content-field.content-socials.section{padding:10px 20px
}
.layout-margin-0 .content-field.content-socials.section{padding:10px 8px
}
.header-field-group .header-field-icon{align-self:center;font-size:16px;min-width:30px
}
.header-field-input{max-width:451px;color:#4a4a4a
}
.details-field-input{color:#4a4a4a
}
.duration-hyphen{margin:0 5px
}
.skills-sections{display:flex;flex-wrap:wrap;padding:14px 23.5px 0;text-transform:uppercase
}
.skills-sections .sub-section{box-sizing:border-box;padding:0;width:100%
}
.skills-sections .sub-section .cv-progress,.skills-sections .sub-section .input-field{width:100%!important
}
.column-1 .skills-sections .sub-section{padding:8px;width:50%
}
.content-skill{margin:5px 0;display:flex;flex-wrap:wrap
}
.content-skill .skill-detail{text-transform:none
}
.content-skill .skill-style-detail .skill-name{font-weight:700
}
.content-skill .skill-name{width:130px;align-self:center;
}
.content-skill .cv-progress-bar{width:100%;align-items:center
}
.column-1 .reference-info{display:flex;flex-wrap:wrap
}
.reference-info .detail-group{display:flex;align-items:baseline
}
.reference-info .detail-icon{margin-right:5px
}
.reference-title{color:rgba(74,74,74,.7);font-style:italic
}
.reference-separator{margin:0 5px;color:#c5c5c5
}
.column-0 .reference-separator{display:none
}
.detail-group{display:flex
}
.detail-name,.details-references{margin:0 5px 0 0;font-weight:400;color:#4a4a4a
}
.details-references{margin:0
}
.user-info-line{width:70px;height:2px;margin-left:20px
}
.company-group,.school-group{display:flex;margin-right:15px
}
.column-0 .awards-sections .section-title{color:#4a4a4a!important
}
.column-0 .awards-sections .section-period>div{font-style:italic;display:inline-block!important
}
.column-0 .awards-sections .company-group,.column-0 .awards-sections .company-group .input-field{display:inline!important;margin-right:4px
}
.column-0 .awards-sections .section-period{display:inline-block!important
}
.fa-square.diamond{transform:rotate(45deg) translateY(-50%);margin-right:10px;align-self:baseline;font-size:8px
}
.title-group{display:flex;align-items:baseline
}
.column-0 .awards-sections .fa-square.diamond,.social .socials-section-header{display:none
}
.social .content-field{padding:0
}
.column-1 .cert-info>span,.social .socials-sections{display:flex
}
.social .socials-sections .sub-section{flex:1;margin-right:12px;word-break:break-word
}
.social .socials-sections .sub-section>div{width:100%
}
.languages-sections{display:flex;justify-content:space-between;flex-wrap:wrap
}
.interests-sections{display:flex;flex-wrap:wrap;padding:14px 23.5px
}
.interests-sections .sub-section{padding:0!important
}
.interests-sections .sub-section.on-action-show .interest-style-pill [contenteditable=true],.interests-sections .sub-section:hover .interest-style-pill [contenteditable=true],.interests-sections.on-action-show .interest-style-pill [contenteditable=true]{color:#fff!important
}
.interest-name{display:inline-block;font-weight:400;padding:0;margin:0
}
.interest-style-pill .interest-name{padding:7px 14px;background:#f8ca04;border-radius:20px;color:#fff
}
.interests-sections{margin-top:5px
}
.interests-sections .sub-section{margin:0 5px 10px 0
}
.interest-style-bullet-point{display:flex;align-items:baseline;padding:3px 30px 3px 0
}
.interest-style-bullet-point:before{content:'';display:block;width:8px;height:8px;margin-right:8px;border-radius:50%;background:#000;min-width:8px
}
.section-header,.text-field{word-break:break-word
}
.profile-section-header,.section-header,.socials-section-header{font-weight:700
}
.certificates-sections{display:flex;flex-wrap:wrap
}
.cert-received-date-group{font-style:italic;margin:5px 0 5px 5px
}
.column-1 .cert-received-date-group{flex:0 0 auto
}
.column-0 .cert-info{margin:5px 0
}
.column-0 .cert-info .section-title,.contacts-sections .header-field-group i{color:#4a4a4a!important
}
.column-0 .cert-info .fa-square.diamond{display:none
}
.column-0 .certificate-style-detail .cert-info div{display:inline;width:fit-content
}
.column-1 .cert-info{display:flex;justify-content:space-between
}
.certificates-sections .sub-section{padding-top:0;padding-bottom:0
}
.certificate-style-detail{padding:9px 0
}
.sub-section:first-child .certificate-style-simple{margin-top:9px
}
.project-info{margin-top:10px
}
.section.content-socials .section-badge{color:#000
}
.column-0 .section-badge,.column-1 .section-badge{top:1rem;left:unset;right:0;z-index:2
}
.reference-urls-sections{display:flex;flex-wrap:wrap;justify-content:space-around
}
.content-qrcode{width:150px;height:150px;margin:5px 15px 10px;max-width:224px
}
.rectangle{width:1rem
}
.footer-page{right:2rem!important;z-index:999!important
}
.mb-skills .cv-progress-bar-flow{height:20px;width:100%;margin:0 1px
}
.header .social .on-action-show [contenteditable=true],.header .social .on-action-show i.fa{color:#3a3a3a
}
.page>div{height:100%
}
.page .page-column{height:100%;display:flex;flex-direction:column
}
.columns{display:flex;flex:1;padding-bottom:38px
}
.column-0-with-contacts .column-0{margin-right:0
}
.column-1-with-user-profile{width:65%
}
.column-1-with-user-profile .column-1{margin-left:0
}